{% load static %}
<div class="banner-area padding-10-row-col pb-105">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="banner-wrap mb-10">
                    <div class="banner-img banner-img-border banner-img-zoom">
                        <a href="product-details.html"><img src="{% static 'assets/images/banner/banner-3.jpg' %}" alt=""></a>
                    </div>
                    <div class="banner-content-3">
                        <h2>Basic Solid Color <br>Sneaker</h2>
                        <span>Start</span>
                        <h3>$168.50</h3>
                        <div class="btn-style-4">
                            <a href="product-details.html">Shop now <i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="banner-wrap mb-10">
                    <div class="banner-img banner-img-border banner-img-zoom">
                        <a href="product-details.html"><img src="{% static 'assets/images/banner/banner-4.jpg' %}" alt=""></a>
                    </div>
                    <div class="banner-content-4">
                        <h2>Discount <br> <span>50%</span> OFF</h2>
                        <span>backpack</span>
                        <h3>new era</h3>
                        <div class="btn-style-4">
                            <a href="product-details.html">Shop now <i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="banner-wrap mb-10">
                    <div class="banner-img banner-img-border banner-img-zoom">
                        <a href="product-details.html"><img src="{% static 'assets/images/banner/banner-5.jpg' %}" alt=""></a>
                    </div>
                    <div class="banner-content-5">
                        <span>Hello kids</span>
                        <h2>Activities Boys <br>with HelloKid</h2>
                        <p>Discover collection from Hello Kid brand</p>
                        <div class="btn-style-4">
                            <a href="product-details.html">explore <i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>