{% load static %}
<div class="product-categories-area pb-70">
    <div class="container">
        <div class="section-title-tab-wrap border-bottom-3 mb-50 pb-20">
            <div class="section-title-3">
                <h2>Top Categories Of This Month</h2>
            </div>
            <div class="btn-style-5">
                <a href="shop.html">View All Categories <i class="icon-arrow-right"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-categories-wrap product-categories-border mb-45">
                    <div class="product-categories-img">
                        <a href="product-details.html"><img src="{% static 'assets/images/product/product-categories-1.jpg' %}" alt=""></a>
                    </div>
                    <div class="product-categories-content">
                        <h3>Women</h3>
                        <ul>
                            <li><a href="shop.html">Dresses</a></li>
                            <li><a href="shop.html">T-Shirts</a></li>
                            <li><a href="shop.html">Blazers</a></li>
                        </ul>
                        <div class="product-categories-btn">
                            <a href="shop.html">View All <i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-categories-wrap product-categories-border categories-border-none-md mb-45">
                    <div class="product-categories-img">
                        <a href="product-details.html"><img src="{% static 'assets/images/product/product-categories-2.jpg' %}" alt=""></a>
                    </div>
                    <div class="product-categories-content">
                        <h3>Men</h3>
                        <ul>
                            <li><a href="shop.html">Coats</a></li>
                            <li><a href="shop.html">Shirts</a></li>
                            <li><a href="shop.html">Blazers</a></li>
                        </ul>
                        <div class="product-categories-btn">
                            <a href="shop.html">View All <i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-categories-wrap  categories-border-add-md mb-45">
                    <div class="product-categories-img">
                        <a href="product-details.html"><img src="{% static 'assets/images/product/product-categories-3.jpg' %}" alt=""></a>
                    </div>
                    <div class="product-categories-content">
                        <h3>Baby Girl</h3>
                        <ul>
                            <li><a href="shop.html">Coats</a></li>
                            <li><a href="shop.html">Jumpsuits</a></li>
                            <li><a href="shop.html">Knitwear</a></li>
                        </ul>
                        <div class="product-categories-btn">
                            <a href="shop.html">View All <i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-categories-wrap product-categories-border categories-border-none-md mb-45">
                    <div class="product-categories-img">
                        <a href="product-details.html"><img src="{% static 'assets/images/product/product-categories-4.jpg' %}" alt=""></a>
                    </div>
                    <div class="product-categories-content">
                        <h3>Baby Boy</h3>
                        <ul>
                            <li><a href="shop.html">Coats</a></li>
                            <li><a href="shop.html">Sweatshirts</a></li>
                            <li><a href="shop.html">Knitwear</a></li>
                        </ul>
                        <div class="product-categories-btn">
                            <a href="shop.html">View All <i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-categories-wrap product-categories-border mb-45">
                    <div class="product-categories-img">
                        <a href="product-details.html"><img src="{% static 'assets/images/product/product-categories-5.jpg' %}" alt=""></a>
                    </div>
                    <div class="product-categories-content">
                        <h3>Accessories</h3>
                        <ul>
                            <li><a href="shop.html">Scarfs</a></li>
                            <li><a href="shop.html">Backpacks</a></li>
                            <li><a href="shop.html">Wallets</a></li>
                        </ul>
                        <div class="product-categories-btn">
                            <a href="shop.html">View All <i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-categories-wrap mb-45">
                    <div class="product-categories-img">
                        <a href="product-details.html"><img src="{% static 'assets/images/product/product-categories-6.jpg' %}" alt=""></a>
                    </div>
                    <div class="product-categories-content">
                        <h3>Shoes</h3>
                        <ul>
                            <li><a href="shop.html">Trainers</a></li>
                            <li><a href="shop.html">Sneakers</a></li>
                            <li><a href="shop.html">Flats</a></li>
                        </ul>
                        <div class="product-categories-btn">
                            <a href="shop.html">View All <i class="icon-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>