{% extends '_one_col.html' %}
{% block title %}
    Discounter Price - web catalog
{% endblock title %}
{% block one_col %}
    <!-- slider start -->
    {% include 'pages/inc/slider.html' %}
    <!-- service start -->
    {% include 'pages/inc/service.html' %}
    <!-- banner start -->
    {% include 'pages/inc/banner_1.html' %}
    <!-- product start -->
    {% include 'pages/inc/product_1.html' %}
    <!-- product categories start -->
    {% include 'pages/inc/product_categories.html' %}
    <!-- banner start -->
    {% include 'pages/inc/banner_2.html' %}
    <!-- product start -->
    {% include 'pages/inc/product_2.html' %}
    <!-- product start -->
    {% include 'pages/inc/product_3.html' %}
    <!-- blog start -->
    {% include 'pages/inc/blog.html' %}
    <!-- brand logo start -->
    {% include 'pages/inc/brand_logo.html' %}
    <!-- subscribe start -->
    {% include 'pages/inc/subscribe.html' %}
{% endblock one_col %}
